# Build results
bin/
obj/
Debug/
Release/

# Visual Studio folder
.vs/

# User-specific files
*.user
*.suo

# Temporary
*.tmp
*.log

#Cursor and VS Code Settings
.vscode/
.cursor/

# .NET
*.swp
*.bak
usersecrets.json
.ionide/

# Operating system files
.DS_Store
Thumbs.db