# Build results
bin/
obj/
Debug/
Release/

# Visual Studio folder
.vs/

# User-specific files
*.user
*.suo

# Temporary
*.tmp
*.log
# Настройки Cursor и VS Code
.vscode/
.cursor/

# Пакеты и инструменты .NET
*.swp
*.bak
usersecrets.json
.ionide/

# Файлы операционной системы
.DS_Store
Thumbs.db